@import url("https://cdn.jsdelivr.net/npm/css.gg/icons/icons.css");

#points-text-container {
    position: absolute;
    top: 5px; /* Adjust the top margin as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Place it on top of the points background */
}

#points-text {
    color: black;
    font-size: 24px;
    font-family: Arial, sans-serif;
    width: 150px; /* Set the width as needed */
    padding: 5px; /* Adjust padding for better spacing */
    text-align: center; /* Center the text within the container */
    border: 2px solid black; /* Add a white border */
    border-radius: 8px; /* Add rounded corners to the border */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* 3D effect using box-shadow */
    z-index: 2; /* Place it on top of the points background */
}

#points-background {
    position: absolute;
    background-image: 'assets/other/wood.png';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Place it behind the text */
}


#game-container {
    position: absolute;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-over-screen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
    z-index: 1;
}

#game-over-message {
    font-size: 28px;
    margin-bottom: 15px;
}

#restart-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    align-items: 'center';
}

#restart-button:hover {
    background-color: #5fb363;
}

.gg-redo {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 14px;
    border: 2px solid;
    border-right-color: transparent;
    border-radius: 100px
}